<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo ImageName=&quot;docker-reg-bj.afmobitek.com:5000/user-server/debug:v7e6243b&quot; &gt; a.properties</command>
    </hudson.tasks.Shell>
    <afmobi.wakaj.RancherClientBuilder plugin="wakaj@1.0-SNAPSHOT">
      <profile>a.properties</profile>
      <proName>ImageName</proName>
      <accessKey>E080363B5C501457933C</accessKey>
      <secretKey>tsh1jmPmjGEHMDSxm6rh7qvjJiviy2rHjG3y24kM</secretKey>
      <rancherHost>http://10.240.36.216:8080</rancherHost>
      <envId>1a5</envId>
      <serviceId>1s192</serviceId>
    </afmobi.wakaj.RancherClientBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>